h1{
    border-width: 0px 0px 3px  0px;
    border-color: blue;
    border-style: solid;
}
h2{
    border: 3px solid gray;
}
#p1{
    border-width: 0px;
    border-top: 5px red;
    border-bottom: 5px red;
    border-style: dotted;
}
#p2{
    border-color: green;
    border-width: 3px;
    border-style: dashed;
}