#p1{
    background-color: aquamarine;
    margin: auto;
    width: 300px;
}
#p2{
    
    background-color: rgb(127, 255, 212);
    padding: 25px 50px;
}
#p3{
    background-color: aquamarine;
    padding: 50px;
}