.class1{
background-image: url("pie.png");
background-repeat:no-repeat;
background-size:auto;

}
.class2{
    
    background-image: url("pie.png");
    background-repeat:no-repeat;
    background-size: 300px 100px;
}
