body {
    background-size: auto;
    background-attachment: fixed;
    background-image: url(fotos/fondo\ azuull.png);

}

#p1 {
    width: 250px;
    height: 95px;

    transition: width 1s;

    transition-timing-function: ease;
}

#p1:hover {
    width: 270px;
}

#logo {
    height: 150px;
}

#titulo {
    height: 100px;
    width: 500px;
}

#t1 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 800px;
    padding: 20px;
}

#t2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;



}

#fl {
    width: 350px;
    height: 500px;
    position: relative;
    animation-name: flote;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes flote {
    from {
        top: 0px;
    }

    to {
        top: 50px;
    }

}

#tra {
    width: 250px;
    height: 95px;
    position: relative;
    animation-name: izq;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: width 1s;
    transition-timing-function: ease;
}

@keyframes izq {
    from {
        right: -300px;
    }

    to {
        right: 300px;
    }

}

.cuerpo {

    position: relative;
    display: flex;
text-align: center;
    margin: 0px auto;


}

.espacio {
    margin-bottom: 700px;

}

.encabezado {
    text-align: center;
}

.opciones {
    float: left;

}

.direccion {
    border: 2px solid black;
    border-radius: 2px;
    width: 250px;
    padding: 10px;
}

.ft {
    float: left;
}

.cuerpo2 {
   
    display: block;
    position: relative;
    margin: 0px auto;

}

#gk {
    transform: skew(10deg);
    width: 275px;
    height: 370px;
    position: relative;
    animation-name: flo;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes flo {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }

}


#foto {
    WIDTH: 350px;
    HEIGHT: 350px;
}

#indice {
    text-align: center;
}

.cuerpo3 {

    padding: 20px;

}


#li2 {
    position: relative;
    list-style-type: none;
    width: 300px;

}

#li2 a {


    display: block;


}

#li2>#ul2 {
    display: none;
    position: absolute;
    top: 0px;
    right: 150px;

}


#li2:hover>#ul2 {
    display: block;
}

#li2>#ul2>#li2 {
    float: left;
}

#ka {
    width: 300px;
    height: 350px;

}

#c1 {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.cuerpo4 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;



}

.addr {
    bottom: 0;
    left: 0;

}
#ce{
    text-align: center;
}